@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    color: #fff;
}

header {
    text-align: center;
    color: #0b0729;
}

header>h1 {
    font-weight: 100;
}

#loading {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#loading img {
    height: inherit;
    width: inherit;
}

.compras {
    margin: 20px 0;
    padding: 15px 25px;
    background: #3dbe77;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.compras h3 {
    font-size: 25px;
    color: #0b0729;
}

.compras li {
    margin: 5px 0;
    color: #0b0729;
}

.compras .tags {
    margin-top: 20px;
    padding: 5px 10px;
    background: #305476;
    color: #fff;
}


/* Controles */

.button {
    margin: 20px 0;
    padding: 15px 25px;
    background: #3dbe77;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Produtos */

.produtos {
    margin: 20px 0;
    padding: 15px 25px;
    background: #3dabbe;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.produtos h3 {
    font-size: 25px;
    color: #0b0729;
}

.produtos li {
    margin: 5px 0;
    color: #0b0729;
}

.produtos .tags {
    margin-top: 20px;
    padding: 5px 10px;
    background: #305476;
    color: #fff;
}